.subaside{
    font-size:10px;    
    width:200px;
    height:500px;
    background:pink;
    float: right;

}
.subaside ul li{
    list-style:none;
    display:inline-block;
    margin-right:10px; 
    line-height:50px;

    
}
a{
    color:gray;
    text-decoration:none;
}

.fixDiv{
    position:fixed;    
}        
