.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
   
  header,
  footer {
    flex: 1;
    background-color: aqua;
  }
   
  .HolyGrail-body {
    display: flex;
    flex: 1;
    background-color: antiquewhite;
  }
   
  .HolyGrail-content {
    flex: 1;
    background-color: black;
  }
   
  .HolyGrail-nav, .HolyGrail-ads {
    /* 两个边栏的宽度设为12em */
    flex: 0 0 12em;
    background-color: brown;
  }
   
  .HolyGrail-nav {
    /* 导航放到最左边 */
    order: -1;
  }